# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.
4. Julia.
5. Scala.

Some of the commonly used libraries used by Data Scientists include:
1. pandas.
2. Numpy.
3. Scikit-learn.
4. Tensorflow.
5. Keras

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|     RStudio      |
| Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
a=200;
b=60;
c=a/b;
print(f"{a} minutes are {c} hours")

200 minutes are 3.3333333333333335 hours

**Objectives:**

List popular languages for Data Science:
+ Python.
+ R.
+ SQL.
+ Julia.
+ Scala.

## Author
Anderson Sanchez Goez